body {
    margin: 0;
    padding: 75px;
    background-image: url(Images/Background.png)
}
.flex-item {
    display: flex;
    margin-left: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
select {
    display: flex;
    width: 300px;
}
.row > .label {
    flex: 0 0 13%;
}

.row > select {
    flex: 0 0 42%;
}

.row > .flag {
    flex: 0 0 5%;
}
.row > button {
    flex: 0 0 15%;
    height: 35px;
    margin-top: 100px;
}
.row > .empty1 {
    flex: 0 0 26.5%;
}
.row > .empty2 {
    flex: 0 0 18.5%;
}
.weather {
    display: flex;
    margin-left: 70%;
    margin-top: -190px;
    flex-direction: column;
    justify-content: center;
}
.textTemperature {
    display: flex;
    margin-top: 20px;
    width: 200px;
    justify-content: center;
    font-weight: bold;
}
.textTemperature >* {
    display: flex;
    margin-left: 5px;
    
}